/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}*/

$color-grey-light: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-green-light: #7ED56F;
$color-green-dark: #28B483;
$color-black: #000000;


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px;*/
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba($color-green-light, 0.8), rgba($color-green-dark, 0.8)), url("../src/images/header1.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;
  z-index: 2;
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo ion-icon {
  font-size: 500%;
  color: $color-white;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  margin-bottom: 20px;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17px;

}

.button:link,
.button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 40px;
  display: inline-block;
  border-radius: 100px;

}

.button:hover,
.button:active {
  transform: translateY(-3px);
  color: $color-grey-dark;
}

.button-white {
  background-color: $color-white;
  color: $color-grey-dark;
  font-size: 1.5rem;
}

.button-green {
  background-color: $color-green-dark;
  color: $color-white;
  font-size: 1.3rem;
  border-radius: 100px;
}

.carousel {
  background-color: $color-grey-light;
  padding: 25rem 0;
  margin-top: -25vh;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-green-light, $color-green-dark);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;

}

.card-movie-list {
  margin-top: 6rem;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 295px;

}

.img-carousel {
  box-shadow: 0 4px 8px 0 rgba($color-black, 0.2), 0 6px 20px 0 rgba($color-black, 0.19);
}

.movie-list {
  padding: 20rem 0;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-green-light, 0.8),
                  rgba($color-green-dark, 0.8)),
  url("../src/images/header1.jpg");
  background-size: cover;
  background-position: top;

}

.search-box{
  margin-bottom: 4rem;
}
.searchTitle-label{
  font-size: 2rem;
  font-weight: 700;
  color: $color-white;
  margin-right: 1.5rem;
  letter-spacing: .05rem;
}

.searchTitle{
  width: 40%;
  font-size: 1.8rem;
  box-shadow: 0 4px 8px 0 rgba($color-black, 0.2), 0 6px 20px 0 rgba($color-black, 0.19);
  color: $color-grey-dark;
  line-height: 3.5rem;
}

.card-long-list {
  margin-top: 3rem;
  margin-bottom: 3rem;

}

.img-container-long-list {
  position: relative;
}

.img-long-list {
  position: absolute;
  left: 0;
  top: 2rem;
  bottom: 0;
  margin: auto auto
}

.movie-long-list-title {
  font-size: 3rem;
}

.movie-long-list-text {
  font-size: 2rem !important;
}


.movie-list-ul {
  display: inline-block;
}

.movie-list-ul li {
  text-decoration: none;
  list-style: none;
}


.movie-details {
  padding: 11rem 0;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba($color-green-light, 0.8), rgba($color-green-dark, 0.8)), url("../src/images/header1.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;
  z-index: 2;
}

.details-company {
  padding-top: 3rem;
  padding-left: 5rem;
  color: $color-white;
  font-weight: 300;
}

.details-title{
  color: $color-white;
  letter-spacing: .4rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 3.5rem;
}

.details-date{
  color: $color-white;
  font-weight: 400;
  font-size: 2rem;
}

.genres ul{
  display: block;
}

.genres ul li{
  text-transform: uppercase;
  list-style: none;
  color: $color-white;
  font-weight: 400;
  font-size: 1.8rem;
}

.details-overview{
  text-align: left;
  color: $color-white;
  font-weight: 400;
  font-size: 1.9rem;
}

.cast-box{
  margin-top: 3rem;
  text-align: left;
  color: $color-white;
}
.cast-box h5{
  text-transform: uppercase;
  list-style: none;
  color: $color-white;
  font-weight: 400;
  font-size: 1.8rem;
}


.cast-box ul{
  padding-left: 4rem;
  display: inline-block;
}

.cast-box ul li{
  list-style: square;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2em;
}

.comment-section{
  background-color: $color-grey-light;
  padding: 25rem 0;
  margin-top: -25vh;
}

.comment-row{
  margin-left: 4rem;
}

.comment-card-body{
   text-align: left;
   font-size: 3rem;
 }
.comment-card-body ion-icon{
  font-size: 130%;
  color: $color-green-dark;
}

.comment-author{
  text-transform: uppercase;
}

.comment-creation-date{
  font-size: 1.5rem!important;
}

.comment-details{
  font-size: 1.5rem!important;
}

.comment-text{
  font-size: 1.5rem!important;
}


form{
  margin-top: 10rem;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: .07rem;
}

.form-author,
.form-text{
  font-size: 1.7rem;
  margin-left: 5rem;
  margin-right: 5rem;
  width: 92%;
}
























































































